{% extends "template.twig" %}
{% block title %}
	{% set title = 'Cave A all' %}
	{{ title }}
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="Public/css/header.css">
	<link rel="stylesheet" href="Public/css/index.css">
	{{ parent() }}
{% endblock %}
{% block body %}
	{% if _flash.getFlashMessage('stop') %}
		<div>
			<p class="errorMessage">{{ _flash.getFlashMessage('stop') }}</p>
		</div>
	{% endif %}
	<header>
		<ul>
			<li><a class="linkHeader" href="/cave/">Accueil</a></li>
			<li><a class="active linkHeader" href="/cave/a">Cave A</a></li>
			<li><a class="linkHeader" href="/cave/b">Cave B</a></li>
			<li><a class="linkHeader" href="/cave/c">Cave C</a></li>
			<li><a class="linkHeader" href="/cave/d">Cave D</a></li>
			<li><a class="linkHeader" href="/cave/e">Cave E</a></li>
			<li><a class="linkHeader" href="/cave/f">Cave F</a></li>
			<li><a class="linkHeader" href="/cave/g">Cave G</a></li>
		</ul>
	</header>
	<main>
		<section>
			<h1>Cave A</h1>
			<ul>
				<a class="link" href="/cave/a/addview">Ajouter une bouteille dans la cave A</a>
				{% if count != 0 %}
					<a class="link" href="/cave/a/deleteview">Supprimer une bouteille dans la cave A</a>
				{% endif %}
			</ul>
			<div class="modale">
				<button class="burgerBtnClose">
					<div>
						<span class="cross">&times;</span>
					</div>
				</button>
				<div class="dataModal"></div>
			</div>
			<div class="cave caveA">
				<table>
					{% set inity = 1 %}
					{% set init = 1 %}
					{% set test = 0 %}

					<tr>
						<th></th>
						<th>1</th>
						<th>2</th>
						<th>3</th>
						<th>4</th>
						<th>5</th>
						<th>6</th>
						<th>7</th>
						<th>8</th>
						<th>9</th>
						<th>10</th>
					</tr>

					<tr>
						{% for list in lists %}
							{% set break = false %}
							{% for key, letter in letters %}
								{% if not break %}
									{% set key = init %}
									{% if key is same as(init) %}
										<th class="letterTab">
											<p>{{letters[key]}}</p>
										</th>
									{% endif %}
								{% endif %}
								{% set init = init + 1 %}
								{% set break = true %}
							{% endfor %}
							{% for l in list %}
								{% if l is not iterable %}
									{% if l|trim(' ') == "vide" %}
										<td id="{{ inity }}">
											<p></p>
										</td>
										{% set test = test + 1 %}
										{% set inity = inity + 1 %}
									{% endif %}
								{% else %}
									<td id="{{ inity }}">
										{% set testslug = slug[test] %}
										{% if l[1] == "Vin rouge" %}
											<a class="linkBoutRed" href="" onclick="myHandler('{{ testslug|json_encode }}', '{{ all|json_encode }}', '{{ test|json_encode }}', 'a');"></a>
										{% endif %}
										{% if l[1] == "Vin blanc" %}
											<a class="linkBoutWhite" href="" onclick="myHandler('{{ testslug|json_encode }}', '{{ all|json_encode }}', '{{ test|json_encode }}', 'a');"></a>
										{% endif %}
										{% if l[1] == "Champagne" %}
											<a class="linkBoutChamp" href="" onclick="myHandler('{{ testslug|json_encode }}', '{{ all|json_encode }}', '{{ test|json_encode }}', 'a');"></a>
										{% endif %}
										{% set test = test + 1 %}
									</td>
									{% set inity = inity + 1 %}
								{% endif %}
							{% endfor %}
						</tr>
					{% endfor %}
				</table>
			</div>
		</section>
	</main>
	<script src="Public/js/index.js"></script>
	<script src="Public/js/seeDetailA.js"></script>
	<script src="Public/js/handler.js"></script>
{% endblock %}