{% extends "template.twig" %}
{% block title %}
	{% set title = 'Cave F Ajouter' %}
	{{ title }}
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="../Public/css/header.css">
	<link rel="stylesheet" href="../Public/css/index.css">
	{{ parent() }}
{% endblock %}
{% block body %}
	{% if _flash.getFlashMessage('stop') %}
		<div>
			<p class="errorMessage">{{ _flash.getFlashMessage('stop') }}</p>
		</div>
	{% endif %}
	<header>
		<ul>
			<li><a class="linkHeader" href="/cave2/">Accueil</a></li>
			<li><a class="linkHeader" href="/cave2/a">Cave A</a></li>
			<li><a class="linkHeader" href="/cave2/b">Cave B</a></li>
			<li><a class="linkHeader" href="/cave2/c">Cave C</a></li>
			<li><a class="linkHeader" href="/cave2/d">Cave D</a></li>
			<li><a class="linkHeader" href="/cave2/e">Cave E</a></li>
			<li><a class="active linkHeader" href="/cave2/f">Cave F</a></li>
			<li><a class="linkHeader" href="/cave2/g">Cave G</a></li>
		</ul>
	</header>
	<main>
		<section>
			<p class="borderReturn">
				<a class="link" href="/cave2/f">Retour à la cave F</a>
			</p>
			<h1>Ajouter</h1>
			<form name="add" action="/cave2/f/add" method="POST">
				<div class="form-group">
					<label>Nom :
					</label>
					<input type="text" name="nom" class="input form-control" required><br>
				</div>
				<div class="form-group form-group-1">
					<label>Appellation :
					</label>
					<input type="text" name="appellation" class="input form-control" required><br>
				</div>
				<div class="form-group form-group-1">
					<label>Année :
					</label>
					<input type="number" name="annee" class="input form-control" required><br>
				</div>
				<div class="form-group form-group-1">
					<label>Type :
					</label>
					<select name="type" id="type" required>
						<option value="">Sélectionner un type de vin</option>
						<option value="Vin blanc">Vin blanc</option>
						<option value="Vin rouge">Vin rouge</option>
						<option value="Champagne">Champagne</option>
					</select>
				</div>
				<div class="form-group form-group-1">
					<label>Région :
					</label>
					<select name="region" id="region" required>
						<option value="">Sélectionner une région</option>
						<option value="Alsace">Alsace</option>
						<option value="Beaujolais">Beaujolais</option>
						<option value="Bordeaux">Bordeaux</option>
						<option value="Bourgogne">Bourgogne</option>
						<option value="Douro">Douro</option>
						<option value="Jura/Savoie">Jura/Savoie</option>
						<option value="Languedoc-Roussillon">Languedoc-Roussillon</option>
						<option value="Provence">Provence</option>
						<option value="Sud-Ouest">Sud-Ouest</option>
						<option value="Vallée de la loire">Vallée de la loire</option>
						<option value="Vallée du Rhône">Vallée du Rhône</option>
						<option value="Vaud">Vaud</option>
					</select>
				</div>
				<div class="form-group form-group-1">
					<label>Contenance :
					</label>
					<select name="contenance" id="contenance" required>
						<option value="">Sélectionner une contenance</option>
						<option value="20 cl">20 cl</option>
						<option value="25 cl">25 cl</option>
						<option value="37,5 cl">37,5 cl</option>
						<option value="46cl">46cl</option>
						<option value="75 cl">75 cl</option>
						<option value="1.5 L">1.5 L</option>
						<option value="3 L">3 L</option>
						<option value="4.50 L">4.50 L</option>
						<option value=" 5 L">
							5 L</option>
					</select>
				</div>
				<div class="form-group form-group-2">
					<label>Pays :
					</label>
					<select name="pays" id="pays" required>
						<option value="">Sélectionner un pays</option>
						<option value="France">France</option>
						<option value="Espagne">Espagne</option>
						<option value="Italie">Itaie</option>
						<option value="Allemagne">Allemagne</option>
						<option value="Suisse">Suisse</option>
						<option value="Portugal">Portugal</option>
					</select>
				</div>
				<div class="modale">
					<button class="burgerBtnClose">
						<div>
							<span class="cross">&times;</span>
						</div>
					</button>
					<div class="dataModal"></div>
				</div>
				<div class="cave caveA">
					<table>
						{% set inity = 1 %}
						{% set init = 1 %}
						{% set test = 0 %}
						<tr>
							<th></th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
							<th>7</th>
							<th>8</th>
							<th>9</th>
							<th>10</th>
						</tr>

						<tr>
							{% for list in lists %}
								{% set break = false %}
								{% for key, letter in letters %}
									{% if not break %}
										{% set key = init %}
										{% if key is same as(init) %}
											<th class="letterTab">
												<p class="letter">{{letters[key]}}</p>
											</th>
										{% endif %}
									{% endif %}
									{% set init = init + 1 %}
									{% set break = true %}
								{% endfor %}
								{% for l in list %}
									{% if l is not iterable %}
										{% if l|trim(' ') == "vide" %}
											<td id="{{ inity }}">
												<p></p>
												<span></span>
												<input type="checkbox" name="{{ inity }}" value="{{ inity }}">
											</td>
											{% set test = test + 1 %}
											{% set inity = inity + 1 %}
										{% endif %}
									{% else %}
										<td id="{{ inity }}">
											{% set testslug = slug[test] %}
											{% if l[1] == "Vin rouge" %}
												<a class="linkBoutRed" href="" onclick="myHandler('{{ testslug|json_encode }}', '{{ all|json_encode }}', '{{ test|json_encode }}', 'f');"></a>
											{% endif %}
											{% if l[1] == "Vin blanc" %}
												<a class="linkBoutWhite" href="" onclick="myHandler('{{ testslug|json_encode }}', '{{ all|json_encode }}', '{{ test|json_encode }}', 'f');"></a>
											{% endif %}
											{% if l[1] == "Champagne" %}
												<a class="linkBoutChamp" href="" onclick="myHandler('{{ testslug|json_encode }}', '{{ all|json_encode }}', '{{ test|json_encode }}', 'f');"></a>
											{% endif %}
											<span></span>
											{% set test = test + 1 %}
										</td>
										{% set inity = inity + 1 %}
									{% endif %}
								{% endfor %}
							</tr>
							{% set initx = initx + 1 %}
						{% endfor %}
					</table>
				</div>
				<div class="errorInput"></div>
				<button class="link borderBot" type="submit">Créer</button>
			</form>
		</section>
	</main>
	<script src="../Public/js/index.js"></script>
	<script src="../Public/js/seeDetailA.js"></script>
	<script src="../Public/js/handler.js"></script>
{% endblock %}